{% extends "bootstrap/base.html" %}

{% block title %}
Add Member
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
#myProgress {
  width: 100%;
  background-color: white;
}

#myBar {
  width: 0%;
  height: 5px;
  background-color: blue;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}
</style>
</style>
<script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 200);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
    }
  }
}
</script>
{% endblock %}

{% block content %}
<div class="container">
<div id="myProgress"><div id="myBar"></div></div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}  
  <form class="form-signin" method="POST" action="add_member">
    <h2 class="form-signin-heading">Add New Member</h2>
    Group Name: <br>
    <input type="text" name="group" value={{group_name}} readonly>
    {% for user in users %}
    <button class="btn btn-lg btn-primary btn-block" value={{user}} type="submit" name=submit onclick="move()">
    Add {{user|upper}}
    </button>
    {% endfor %}
    <br>
    <br>
    Note: Add one member to create a group later add other members
    <br>
    <p><p><a class="w3-btn w3-xlarge" href='/' onclick="move()"><i class="fa fa-home"></i></a></p>
  </form>
</div>
{% endblock %}