{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Login{% endblock %}
{% block styles %}
{{super()}}
<style type="text/css">
#myProgress {width: 100%; background-color: white; }
#myBar {width: 0%; height: 5px; background-color: black;}
</style>    
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 200);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
    }}}
</script>
{% endblock %}
{% block content %}
    <div class="container"><div id="myProgress"><div id="myBar"></div></div>
{% with messages = get_flashed_messages() %}
{% if messages %}{% for message in messages %}
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
{{ message }}
    </div>
{% endfor %}{% endif %}
{% endwith %}
      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="move()">Sign in</button>
      </form>
</div>
{% endblock %}
